/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #36393f; /* Discord achtergrondkleur */
    background-image: url('https://www.transparenttextures.com/patterns/dark-matter.png');
    background-size: cover;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container for the entire page */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header styles */
header {
    background-color: #36393f; /* Discord header color */
    background-image: url('https://www.transparenttextures.com/patterns/dark-matter.png');
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #40444B; /* Header bottom border */
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #99AAB5; /* Lichter grijs voor de subtekst */
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-container a {
    background-color: #7289DA; /* Discord blauw voor knoppen */
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-container a:hover {
    background-color: #99AAB5; /* Lichter blauw bij hover */
}

/* Main content styles */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #FFFFFF; /* Main headings in white */
}

p {
    color: #99AAB5;
    font-size: 1.1em;
}

/* Command item styles */
.command-item {
    background-color: #40444B; /* Command item achtergrondkleur */
    border: 1px solid #72767D; /* Randkleur */
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: box-shadow 0.3s;
}

.command-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Schaduweffect bij hover */
}

.command-item h4 {
    margin-bottom: 5px;
    color: #7289DA; /* Command item titel kleur */
}

/* Footer styles */
footer {
    background-color: #23272A; /* Footer achtergrondkleur */
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #40444B; /* Footer top border */
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container a {
        margin-bottom: 10px;
        width: 80%; /* Zorgt ervoor dat de knoppen mooi op mobiele schermen passen */
        text-align: center;
    }
}
