/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #36393f; /* Discord achtergrondkleur */
    background-image: url('https://www.transparenttextures.com/patterns/dark-matter.png');
    background-size: cover;
    color: #ffffff;
    line-height: 1.6;
}

/* Container Stijl */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Verticaal uitlijnen */
    align-items: center; /* Centreert alles in het midden */
}

/* Header Stijl */
header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #7289da;
    width: 100%;
}

/* Discord Title Stijl */
.discord-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-logo {
    width: 40px;  /* Specifieke breedte instellen */
    height: 40px; /* Specifieke hoogte instellen */
    margin-right: 10px; /* Ruimte tussen logo en tekst */
}

/* Knop Stijl */
.button {
    background-color: #7289da; /* Discord-blauw */
    color: #ffffff;
    padding: 17px 30px; /* Verminder de verticale padding */
    margin: 15px 0; /* Ruimte tussen knoppen */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2; /* Pas de lijnhoogte aan indien nodig */
    transition: background-color 0.3s, transform 0.2s; /* Voor overgangseffecten */
    display: inline-block; /* Zorg ervoor dat de knop geen volledige breedte in beslag neemt */
    height: 20px;
}


.button:hover {
    background-color: #5b6eae; /* Donkerdere kleur bij hover */
    transform: scale(1.05); /* Vergroot een beetje bij hover */
}

/* Content Stijl */
.content {
    padding: 20px;
    text-align: center; /* Centreer de tekst */
}

/* Sectie Stijlen */
.features, .cta {
    margin: 20px 0;
}

.features h3, .cta h3 {
    margin-bottom: 10px;
}

.features ul {
    padding-left: 0;
    list-style-position: inside;
}

/* Footer Stijl */
footer {
    text-align: center;
    padding: 15px;
    background-color: #23272a;
    margin-top: 20px;
    border-top: 1px solid #7289da;
}

footer p {
    color: #99aab5;
}
